{% extends 'main/front/base.html' %}
{% load static %}
{% block MainContent %}
<section style="padding: 4% 0% 1%;">
    <div class="row" >
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Already a member?</h5>
                            <h6>Sign In</h6>
                            <div>
                                <form method="POST">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        {{form.email}}
                                        <small class="form-text text-muted">{{form.email.errors}}</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        {{form.password}}
                                        <small class="form-text text-muted">{{form.password.errors}}</small>
                                    </div>
                                    <br>
                                    <div style="text-align:right">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 style="text-align:center">Credential Queries</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock MainContent %}